.Releases{
  padding-top: 160px;
  padding-bottom: 160px;
  max-width: 1280px;
  margin: auto;
}
.Releases h1{
  text-align: center;
  font-size: 6rem;
}
@media (max-width:800px){
  .Releases h1{
    font-size: 3rem;
  }
}