.Fois{
  max-width: 1280px;
  padding-top: 160px;
  padding-top: 160px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.Fois h1{
  font-size: 8rem;
}
.Fois p{
  font-family: 'Roboto';
  font-size: 1.3rem;
  margin-top: -60px;
}
.Fois img{
  width: 1200px;
  padding-bottom: 160px;
}
.Fois button{
  padding: 20px 60px;
  border: none;
  background: #FFBC1A;
  font-size: 18px;
  border-radius: 2px;
}
@media (max-width:1200px){
  .Fois{
    flex-direction: column;
    text-align: center;
  }
  .Fois h1{
    font-size: 4rem;
  }
  .Fois p{
    margin-top: 0px;
  }
  .Fois button{
    margin-bottom: 160px;
  }
}
@media (max-width:800px){
  .Fois img{
    width: 500px;
  }
}