.History {
  max-width: 1280px;
  margin: auto;
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
}
.History h1 {
  font-size: 8rem;
  border-bottom: 2px solid #ffbc1a;
}

.History p {
  font-size: 1.5rem;
  font-family: 'Roboto Slab';
}
@media (max-width:1200px){
  .History{
    flex-direction: column;
    text-align: center;
  }
  .History h1{
    border-bottom: none;
    font-size: 4rem;
  }
  .History p{
    width: 300px;
    margin: auto;
    font-size: 1.5rem;
  }
}